E.T.L del Dataset Credits.

In [1]:
# Importo las librerias a utilizar.
import pandas as pd
import ast

In [2]:
# Utilizo la libreria Pandas para leer el archivo csv.
dfc = pd.read_csv('../Datasets/credits.csv')

In [3]:
dfc.head(5)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [4]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

Visualizo que el CSV otorgado utiliza mucha memoria, lo que hace mas lentos los procesos, por lo que decido eliminar un porcentaje de filas para optimizar los mismos.

In [5]:
# Eliminar las últimas 40,000 filas de dfc
dfc = dfc.iloc[:-40000]

In [6]:
# Creo una nueva columna llamada actores.
dfc['actores'] = ''

In [7]:
# Creo una funcion para extraer todos los actores de la columna cast y grabarlo en una nueva columna llamada 'Actores'
for index in dfc['cast'].index:
    lista_diccionarios = ast.literal_eval(dfc['cast'][index])
    actors = []
    for dict in lista_diccionarios:
        for key, value in dict.items():
            if key == 'name':
                actors.append(value)
    dfc.at[index, 'actores'] = actors

In [8]:
dfc['actores']

0       [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...
1       [Robin Williams, Jonathan Hyde, Kirsten Dunst,...
2       [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...
3       [Whitney Houston, Angela Bassett, Loretta Devi...
4       [Steve Martin, Diane Keaton, Martin Short, Kim...
                              ...
5471    [Moritz Bleibtreu, Christian Berkel, Oliver St...
5472    [Antonio Banderas, Lucy Liu, Gregg Henry, Ray ...
5473    [Goldie Hawn, Susan Sarandon, Geoffrey Rush, E...
5474    [Heath Ledger, Wes Bentley, Kate Hudson, Djimo...
5475    [Charlize Theron, Kevin Bacon, Courtney Love, ...
Name: actores, Length: 5476, dtype: object

In [9]:
#Verifico el funcionamiento correcto de la busqueda de actores con el nombre 'Tom Cruise' mediante la funcion lambda
result_actor = dfc.loc[dfc['actores'].apply(lambda x: 'Tom Cruise' in x)]

In [10]:
result_actor

,cast,crew,id,actores
249,"[{'cast_id': 18, 'character': 'Louis de Pointe...","[{'credit_id': '52fe4260c3a36847f8019995', 'de...",628,"[Brad Pitt, Tom Cruise, Kirsten Dunst, Antonio..."
449,"[{'cast_id': 13, 'character': 'Mitch McDeere',...","[{'credit_id': '52fe46359251416c9104ceef', 'de...",37233,"[Tom Cruise, Jeanne Tripplehorn, Gene Hackman,..."
638,"[{'cast_id': 22, 'character': 'Ethan Hunt', 'c...","[{'credit_id': '52fe4292c3a36847f8029493', 'de...",954,"[Tom Cruise, Jon Voight, Emmanuelle Béart, Hen..."
1068,"[{'cast_id': 19, 'character': 'Cole Trickle', ...","[{'credit_id': '52fe4337c3a36847f80434fd', 'de...",2119,"[Tom Cruise, Robert Duvall, Nicole Kidman, Ran..."
1069,"[{'cast_id': 13, 'character': ""Pete 'Maverick'...","[{'credit_id': '52fe426fc3a36847f801e685', 'de...",744,"[Tom Cruise, Kelly McGillis, Val Kilmer, Antho..."
1329,"[{'cast_id': 11, 'character': ""William H. 'Bil...","[{'credit_id': '52fe44ab9251416c7503ce87', 'de...",11967,"[Emilio Estevez, Kiefer Sutherland, Lou Diamon..."
1344,"[{'cast_id': 1, 'character': 'Jerry Maguire', ...","[{'credit_id': '52fe44f1c3a36847f80b33c7', 'de...",9390,"[Tom Cruise, Cuba Gooding Jr., Renée Zellweger..."
1852,"[{'cast_id': 4, 'character': 'Raymond Babbitt'...","[{'credit_id': '52fe423cc3a36847f800e92d', 'de...",380,"[Dustin Hoffman, Tom Cruise, Valeria Golino, G..."
2005,"[{'cast_id': 11, 'character': ""Dallas 'Dally' ...","[{'credit_id': '52fe4229c3a36847f8008b9b', 'de...",227,"[Matt Dillon, Ralph Macchio, C. Thomas Howell,..."
2034,"[{'cast_id': 9, 'character': 'Jack', 'credit_i...","[{'credit_id': '52fe44ae9251416c7503d3cb', 'de...",11976,"[Tom Cruise, Mia Sara, Tim Curry, David Bennen..."
2156,"[{'cast_id': 10, 'character': 'Lt. Daniel Kaff...","[{'credit_id': '52fe4286c3a36847f8025d91', 'de...",881,"[Tom Cruise, Jack Nicholson, Demi Moore, Kevin..."
2361,"[{'cast_id': 7, 'character': 'Fast Eddie Felso...","[{'credit_id': '52fe44979251416c7503a3ad', 'de...",11873,"[Paul Newman, Tom Cruise, Mary Elizabeth Mastr..."
2597,"[{'cast_id': 1, 'character': ""Dr. William 'Bil...","[{'credit_id': '52fe423bc3a36847f800df81', 'de...",345,"[Tom Cruise, Nicole Kidman, Madison Eginton, J..."
2799,"[{'cast_id': 1, 'character': 'Joel Goodsen', '...","[{'credit_id': '52fe44ebc3a36847f80b1c5d', 'de...",9346,"[Tom Cruise, Rebecca De Mornay, Sean Penn, Joe..."
3043,"[{'cast_id': 3, 'character': 'Linda Partridge'...","[{'credit_id': '52fe4239c3a36847f800d677', 'de...",334,"[Julianne Moore, William H. Macy, John C. Reil..."
3141,"[{'cast_id': 10, 'character': 'Joseph Donnelly...","[{'credit_id': '52fe441b9251416c75029157', 'de...",11259,"[Tom Cruise, Nicole Kidman, Thomas Gibson, Rob..."
3501,"[{'cast_id': 31, 'character': 'Ethan Hunt', 'c...","[{'credit_id': '589783759251412e1601cef6', 'de...",955,"[Tom Cruise, Dougray Scott, Thandie Newton, Vi..."
3883,"[{'cast_id': 1, 'character': 'Ron Kovic', 'cre...","[{'credit_id': '52fe435fc3a36847f804f4f5', 'de...",2604,"[Tom Cruise, Raymond J. Barry, Caroline Kava, ..."
4078,"[{'cast_id': 1, 'character': 'Woody', 'credit_...","[{'credit_id': '52fe452e9251416c9102a291', 'de...",33676,"[Tom Cruise, Jackie Earle Haley, John Stockwel..."
4359,"[{'cast_id': 1, 'character': 'Brian Flanagan',...","[{'credit_id': '52fe4482c3a36847f809a5c3', 'de...",7520,"[Tom Cruise, Bryan Brown, Elisabeth Shue, Lisa..."
4845,"[{'cast_id': 13, 'character': 'David Aames', '...","[{'credit_id': '52fe4320c3a36847f803c339', 'de...",1903,"[Tom Cruise, Penélope Cruz, Cameron Diaz, Kurt..."
5092,"[{'cast_id': 1, 'character': 'Stefen Djordjevi...","[{'credit_id': '52fe47659251416c75097d57', 'de...",18172,"[Tom Cruise, Craig T. Nelson, Lea Thompson, Ch..."
5103,"[{'cast_id': 1, 'character': 'General Harlan B...","[{'credit_id': '52fe43979251416c75016725', 'de...",10627,"[George C. Scott, Timothy Hutton, Ronny Cox, S..."
5311,"[{'cast_id': 5, 'character': 'Chief John Ander...","[{'credit_id': '52fe4223c3a36847f8006f3d', 'de...",180,"[Tom Cruise, Colin Farrell, Samantha Morton, M..."
5347,"[{'cast_id': 29, 'character': 'Austin Powers /...","[{'credit_id': '52fe427bc3a36847f80220e9', 'de...",818,"[Mike Myers, Beyoncé Knowles, Seth Green, Mich..."

In [11]:
# Creo una funcion para extraer todos los directores de la columna crew y grabarlo en una nueva columna llamada 'directors'
for index in dfc['crew'].index:
    lista_diccionarios = ast.literal_eval(dfc['crew'][index])
    found_condition = False
    directors = []
    for dict in lista_diccionarios:
        for key, value in dict.items():
            if found_condition:
                directors.append(value)
                found_condition = False
                break
            if key == 'job' and value == 'Director':
                found_condition = True
    dfc.at[index, 'directores'] = directors

In [12]:
#Verifico la carga correcta de directores en la nueva columna
dfc['directores']

0             [John Lasseter]
1              [Joe Johnston]
2             [Howard Deutch]
3           [Forest Whitaker]
4             [Charles Shyer]
                ...
5471    [Oliver Hirschbiegel]
5472      [Wych Kaosayananda]
5473             [Bob Dolman]
5474          [Shekhar Kapur]
5475           [Luis Mandoki]
Name: directores, Length: 5476, dtype: object

In [13]:
#Chequeo el funcionamiento correcto de la busqueda de directores con el nombre Oliver Stone mediante la funcion lambda.
result_director = dfc.loc[dfc['directores'].apply(lambda x: 'Oliver Stone' in x)]

In [14]:
result_director

,cast,crew,id,actores,directores
13,"[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...",10858,"[Anthony Hopkins, Joan Allen, Powers Boothe, E...",[Oliver Stone]
284,"[{'cast_id': 49, 'character': 'Mickey Knox', '...","[{'credit_id': '52fe422bc3a36847f8009679', 'de...",241,"[Woody Harrelson, Juliette Lewis, Robert Downe...",[Oliver Stone]
460,"[{'cast_id': 2, 'character': 'Steve Butler', '...","[{'credit_id': '52fe44929251416c91015565', 'de...",31642,"[Tommy Lee Jones, Robert John Burke, Timothy C...",[Oliver Stone]
1058,"[{'cast_id': 36, 'character': 'Staff Sergeant ...","[{'credit_id': '52fe4277c3a36847f8020cc9', 'de...",792,"[Tom Berenger, Charlie Sheen, Willem Dafoe, Fo...",[Oliver Stone]
1061,"[{'cast_id': 13, 'character': 'Jim Morrison', ...","[{'credit_id': '52fe43839251416c750133f1', 'de...",10537,"[Val Kilmer, Meg Ryan, Kyle MacLachlan, Frank ...",[Oliver Stone]
1553,"[{'cast_id': 11, 'character': 'Bobby Cooper', ...","[{'credit_id': '52fe43379251416c75007dc3', 'de...",10155,"[Sean Penn, Nick Nolte, Jennifer Lopez, Joaqui...",[Oliver Stone]
3056,"[{'cast_id': 16, 'character': ""Tony D'Amato"", ...","[{'credit_id': '56786ed0925141118c000774', 'de...",9563,"[Al Pacino, Cameron Diaz, Dennis Quaid, James ...",[Oliver Stone]
3267,"[{'cast_id': 23, 'character': 'Jim Garrison', ...","[{'credit_id': '52fe427bc3a36847f8022365', 'de...",820,"[Kevin Costner, Tommy Lee Jones, Gary Oldman, ...",[Oliver Stone]
3882,"[{'cast_id': 8, 'character': 'Bud Fox', 'credi...","[{'credit_id': '52fe43a09251416c75017bd9', 'de...",10673,"[Charlie Sheen, Michael Douglas, Martin Sheen,...",[Oliver Stone]
3883,"[{'cast_id': 1, 'character': 'Ron Kovic', 'cre...","[{'credit_id': '52fe435fc3a36847f804f4f5', 'de...",2604,"[Tom Cruise, Raymond J. Barry, Caroline Kava, ...",[Oliver Stone]
3884,"[{'cast_id': 1, 'character': 'Barry Champlain'...","[{'credit_id': '52fe43309251416c75006e47', 'de...",10132,"[Eric Bogosian, Ellen Greene, Leslie Hope, Joh...",[Oliver Stone]
4279,"[{'cast_id': 1, 'character': 'Richard Boyle', ...","[{'credit_id': '52fe443dc3a36847f808a5e1', 'de...",6106,"[James Woods, Jim Belushi, Michael Murphy, Joh...",[Oliver Stone]

In [15]:
# Creo una funcion para remover los corchetes.
def remover_corchetes(lista):
    if isinstance(lista, list):
        return ', '.join(lista)  
    return lista

In [16]:
dfc['actores'].apply(remover_corchetes)

0       Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...
1       Robin Williams, Jonathan Hyde, Kirsten Dunst, ...
2       Walter Matthau, Jack Lemmon, Ann-Margret, Soph...
3       Whitney Houston, Angela Bassett, Loretta Devin...
4       Steve Martin, Diane Keaton, Martin Short, Kimb...
                              ...
5471    Moritz Bleibtreu, Christian Berkel, Oliver Sto...
5472    Antonio Banderas, Lucy Liu, Gregg Henry, Ray P...
5473    Goldie Hawn, Susan Sarandon, Geoffrey Rush, Er...
5474    Heath Ledger, Wes Bentley, Kate Hudson, Djimon...
5475    Charlize Theron, Kevin Bacon, Courtney Love, S...
Name: actores, Length: 5476, dtype: object

In [17]:
dfc['directores'].apply(remover_corchetes)

0             John Lasseter
1              Joe Johnston
2             Howard Deutch
3           Forest Whitaker
4             Charles Shyer
               ...
5471    Oliver Hirschbiegel
5472      Wych Kaosayananda
5473             Bob Dolman
5474          Shekhar Kapur
5475           Luis Mandoki
Name: directores, Length: 5476, dtype: object

In [18]:
# Elimino las columnas cast y crew
dfc.drop(columns=['cast', 'crew'], inplace=True)

In [19]:
dfc.isnull().sum()

id            0
actores       0
directores    0
dtype: int64

In [20]:
# grabo el dataset limpio en un archivo csv en la carpeta Datasets_limpios
dfc.to_csv('../Datasets_limpios/credits_dataset_clean.csv', index=False)